
.fixed-bg {
  background-image: url("rx7.jpeg");
  min-height: 1080px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1920px;
  
}

.fixed-bg2 {
  background-image: url("s15.jpg");
  min-height: 1080px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1920px;
}


.fixed-bg3 {
  background-image: url("r34.jpg");
  min-height: 1080px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1920px;
}

.fixed-bg4 {
  background-image: url("mk4.jpg");
  min-height: 1080px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1920px;
}

.fixed-bg5 {
  background-image: url("nsx3.jpeg");
  min-height: 1080px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1920px;
}

body{
  background-color: black;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

  .header1 {
  padding: 10px;
  text-align: center;
  background: #575757;
  color: #ffc400;
  font-size: 40px;
  opacity: 0.75;
}

  .header2 {
  padding: 10px;
  text-align: center;
  background: #575757;
  color: #ffc400;
  font-size: 40px;
  opacity: 0.75;
}

  .header3 {
  padding: 10px;
  text-align: center;
  background: #575757;
  color: #ffc400;
  font-size: 40px;
  opacity: 0.75;
}  

  .header4 {
  padding: 10px;
  text-align: center;
  background: #575757;
  color: #ffc400;
  font-size: 40px;
  opacity: 0.75;
}  

  .header5 {
  padding: 10px;
  text-align: center;
  background: #575757;
  color: #ffc400;
  font-size: 40px;
  opacity: 0.75;
}  

.myButton {
	background-color:#ffc400;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:10px 20px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#ffc400;
}
.myButton:active {
	position:relative;
	top:1px;
}

        

