
.fixed-bg {
  background-image: url("rx7.jpeg");
  min-height: 1080px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1920px;
}

.fixed-bg2 {
  background-image: url("s15.jpg");
  min-height: 1080px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1920px;
}

.fixed-bg3 {
  background-image: url("r34.jpg");
  min-height: 1080px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1920px;
}

.fixed-bg4 {
  background-image: url("mk4.jpg");
  min-height: 1080px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1920px;
}

.fixed-bg5 {
  background-image: url("nsx.jpeg");
  min-height: 1080px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1920px;
}

body{
  background-color: black;
}
