.fixed-bg {
  background-image: url("rx7.jpeg");
  min-height: 1080px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1920px;
}

.fixed-bg2 {
  background-image: url("s15.jpg");
  min-height: 1080px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1920px;
}

.fixed-bg3 {
  background-image: url("r34.jpg");
  min-height: 1080px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1920px;
}

.fixed-bg4 {
  background-image: url("mk4.jpg");
  min-height: 1080px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1920px;
}

.fixed-bg5 {
  background-image: url("nsx.jpeg");
  min-height: 1080px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1920px;
}

.Button1 {
	box-shadow: 0px 0px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #5279f0 5%, #000000 100%);
	background-color:#5279f0;
	border-radius:8px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:20px 48px;
	text-decoration:none;
	text-shadow:1px 1px 0px #000000;
}
.Button1 :hover {
	background:linear-gradient(to bottom, #000000 5%, #5279f0 100%);
	background-color:#000000;
}

.Button1 :active {
	position:relative;
	top:1px;
}

